.grid {
  width: 100%;
  * {
    color: var(--text-color1);
  }
  &.small {
    width: auto;
  }
}

.MuiDataGrid-root {
  .MuiDataGrid-columnHeader {
    &:focus-within {
      outline: none;
    }
  }
  .MuiDataGrid-cell {
    &:focus-within {
      outline: none;
    }
  }
}
