.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
  margin-left: 10px;
}

.main-slide {
  width: 100%;
  height: 500px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
