@import "../../styles/mixins";

.app-bar {
  .navbar {
    @include d-flex(row, center, center);

    background-color: var(--dark-deep);
    transition: all 0.3s ease-in-out;

    &.sidebar-full {
      padding-left: calc(var(--full-sidebar-width) + 20px);
    }
    &.sidebar-compact {
      padding-left: calc(var(--small-sidebar-width) + 20px);
    }
    &.sidebar-none {
      padding-left: 20px;
    }

    .navbar__middle {
      flex: 1;
    }

    .menu-button {
      margin-right: 12px;
      .menu-icon {
        color: var(--white);
      }

      &.hidden {
        display: none;
      }
    }

    .account {
      .icon {
        color: var(--white);
        font-size: 30px;
      }
    }
  }
}
